@model Auction.Models.Bidder

@{
    ViewBag.Title = "Create";
}

<body id="BackgroundGrad1">
    @using (Html.BeginForm("Create", "Bidder", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @*@Html.HiddenFor(model => model.ID)*@
        @*@Html.HiddenFor(model => model.MultiItems)*@
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table id="IndexTable">
            <tr>
                <td colspan="2">
                    <h2 class="CrudTitle">Add a New Bidder</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <h4> Bidder Name</h4>
                </td>
                <td class="TableDataIndex2">
                    @Html.EditorFor(model => model.BidderName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BidderName, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    <h4> Bidder Contact info</h4>
                    <h6>Phone or Email</h6>
                </td>
                <td class="TableDataIndex2">
                    @Html.EditorFor(model => model.BidderContact1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BidderContact1, "", new { @class = "text-danger" })
                </td>
                <td class="TableDataIndex2">
                    @Html.EditorFor(model => model.BidderContact2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BidderContact2, "", new { @class = "text-danger" })
                <td class="TableDataIndex2">
                    @Html.EditorFor(model => model.BidderContact3, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BidderContact3, "", new { @class = "text-danger" })
                </td>
                </td>
            </tr>
            <tr>
                <td colspan ="2" class="TableDataIndex2">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Add" class="btn btn-default" />
                            <input type="submit" value="Cancel" onclick="location.href='@Url.Action("Index", "Forms")';return false;" class="btn btn-default" />
                            </div>
                    </div>
                </td>
              </tr>
            <tr>
                
            </tr>
        </table>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>