@model Auction.Models.Bidder

@{
    ViewBag.Title = "Delete";
}
<body id="BackgroundGrad1">
    <h2 class="CrudTitle">Delete Bidder</h2>
    <p>
        <span class="btn btn-default"> @Html.ActionLink("Back to Forms List", "Index", "Forms")</span>
    </p>

    <h3>Are you sure you want to delete this bidder?</h3>
    
    
    <div>
      
        <table class="TableDataIndex2">
            <tr>
                <td id="BidNumber2" class="TableDataIndex6">@Html.DisplayFor(model => model.BidderNumber)</td>
                <td class="TableDataIndex6"><h2>@Html.DisplayFor(model => model.BidderName)</h2></td>
                <td class ="TableDataIndex6"><h2>@Html.DisplayFor(model => model.BidderContact1)</h2></td>
                <td class="TableDataIndex6"><h2>@Html.DisplayFor(model => model.BidderContact2)</h2></td>
                <td class="TableDataIndex6"><h2>@Html.DisplayFor(model => model.BidderContact3)</h2></td>
            </tr>
        </table>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" />
                <input type="submit" value="Cancel" onclick="location.href='@Url.Action("Index", "Bidder")';return false;" class="btn btn-default" />
            </div>
        }
    </div>
</body>