@model Auction.Models.Bidder

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bidder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BidderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BidderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BidderNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BidderNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BidderContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BidderContact)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
