@model Auction.Models.Item

@{
    ViewBag.Title = "EditSilentItem";
}

<style>
    footer {
        position: absolute;
        bottom: 0;
        width: 80%;
    }
</style>

<body id="BackgroundGrad1">
    <hgroup class="title">
        <h1>Edit Items</h1>
        <hr />
    </hgroup>
    @using (Html.BeginForm("Edit", "Item", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        @*<div id="itemInfo" style="float: left; width: 60%;">
                <div class="form-horizontal">


                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.ID)
                    <div class="CrudTitle">
                        @Html.DisplayFor(modelItem => Model.Title)
                    </div>
                    <div id="Theme">
                        @Html.DisplayFor(modelItem => Model.Description)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.WinningBidder, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.WinningBidder, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.WinningBidder, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.BidAmount, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BidAmount, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BidAmount, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>*@

        <table class="TableDataIndex2">
            <tr>
                <td colspan="2" class="CrudTitle">
                    @Html.DisplayFor(modelItem => Model.Title)
                </td>
            </tr>
            <tr>
                <td colspan="2" id="Theme">
                    @Html.DisplayFor(modelItem => Model.Title)
                </td>
            </tr>
            <tr>
                <td id="Theme">
                    @Html.LabelFor(model => model.WinningBidder, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td class="col-md-10">
                    @Html.EditorFor(model => model.WinningBidder, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.WinningBidder, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td id="Theme">
                    @Html.LabelFor(model => model.BidAmount, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td class="col-md-10">
                    @Html.EditorFor(model => model.BidAmount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BidAmount, "", new { @class = "text-danger" })
                </td>
            </tr>
    <tr>
        <td colspan="2">
            <input class="tiny button" type="submit" value="Save" />
            @Html.ActionLink("Back to List", "AddWinningBidsSilent")
        </td>
    </tr>
        </table>


        @*<!--Image upload code. Donot Delete. Donot Modify-->
            <div id="imgUpload" style="float: right;width: 40%;">

                @if (File.Exists(Server.MapPath("~/Images/Items/"
                                            + Html.DisplayFor(modelItem => Model.ImageURL))))
                {
                    <img alt="" src="~/Images/Items/@Html.DisplayFor(modelItem   => Model.ImageURL)" width="400px" />


                    <br />
                    <p>
                        If the image above is not the correct image,
                        use the Re-Upload form below.
                    </p>
                    <label for="photo">Re-Upload:</label>
                    <input class="tiny button" id="photo" type="file" name="photo" />
                    <input type="hidden" name="image" value="@Html.DisplayFor(modelItem   => Model.ImageURL)" />

                }
                else
                {

                    <label for="photo">Upload a Photo:</label>
                    <input class="tiny button" id="photo" type="file" name="photo" />
                    <input type="hidden" name="image" value="@Html.DisplayFor(modelItem   => Model.ImageURL)" />

                }
            </div>
                            <!--Image upload code. Donot Delete. Donot Modify-->*@









        @*<div class="medium-12 column" style="position: absolute;
bottom: 70px; width: 300px; margin-left: auto;margin-right: auto;left: 40%; right: 40%; ">
            <input class="tiny button" type="submit" value="Save" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "tiny button" })
        </div>*@



    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</body>








