@model Auction.Models.Item

@{
    ViewBag.Title = "EditSilentItem";
}

<style>
    footer {
        position: absolute;
        bottom: 0;
        width: 80%;
    }
</style>

<body id="BackgroundGrad1"  class="full">
    <hgroup class="title">
        <h1 class="CrudTitle">Edit Silent Item Bid</h1>
    </hgroup>
    <p>
        <span class="btn btn-default"> @Html.ActionLink("Back to Forms List", "Index", "Forms")</span>
    </p>
    @using (Html.BeginForm("EditSilentItem", "Forms", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.AuctionType)
        @Html.HiddenFor(model => model.Description)
        @Html.HiddenFor(model => model.ImageURL)
        @Html.HiddenFor(model => model.Title)


        <table id="IndexTable" @*class="TableDataIndex2 TableIndex2"*@>
            <tr>
                <td colspan="2" class="CrudDiv1">

                    <h2> @Html.DisplayFor(modelItem => Model.Title)</h2>
                </td>
            </tr>

            <tr>
                <td class="TableDataIndex7">
                     @Html.LabelFor(model => model.WinningBidder, htmlAttributes: new { @class = "control-label col-md-2" })
                 </td>
                <td class="TableDataIndex8">
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.WinningBidder, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.WinningBidder, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="TableDataIndex7">
                    @Html.LabelFor(model => model.BidAmount, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td class="TableDataIndex8">
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BidAmount, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BidAmount, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
           
                <td colspan="2">
                    <input type="submit" value="Save" class="btn btn-default" />
                    @*@Html.ActionLink("Back to List", "AddWinningBidsSilent")*@
                </td>
            </tr>
        </table>















    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</body>








