@{
    ViewBag.Title = "Index";
}

<div id="BackgroundGrad1"  class="full">

    <table id="IndexTable">
        <tr>
            <td colspan="3">
                <h1 class="CrudTitle">Auction Forms</h1>
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <h3 class="formItem"> Bidders</h3>
            </td>
            <td>
                <h4 id="ListButton"><a href="@Url.Action("Create", "Bidder")"><b>Add </b></a></h4>
                <h4 id="ListButton"><a href="@Url.Action("index", "Bidder")"><b>Edit </b></a></h4>
            </td>
            <td class="TableDataIndex15">
                <h5><u>Bidder</u>: Auction participant who will use their assigned <i>Bidder Number</i> to bid on auction items. This may be an individual, couple or family.</h5>
            </td>
        </tr>
        <tr>
            <td>
                <h3 class="formItem"> Auction Items</h3>
            </td>
            <td>
                <h4 id="ListButton"><a href="@Url.Action("Create", "Item")"><b>Add</b></a></h4>
                <h4 id="ListButton"><a href="@Url.Action("Index", "Item")"><b>Edit </b></a></h4>
            </td>
            <td class="TableDataIndex15">
                <h5><u>Auction Item</u>: Items or services that will be available to be bid on, in both the live auction or the silent auction.</h5>
            </td>
        </tr>
        <tr>
            <td>
                <h3 class="formItem"> Extra Auction Items </h3>
            </td>
            <td>
                <h4 id="ListButton"><a href="@Url.Action("Create", "MultipleBidderItem")"><b>Add</b></a></h4>
                <h4 id="ListButton"><a href="@Url.Action("Index", "MultipleBidderItem")"><b>Edit </b></a></h4>
            </td>
            <td class="TableDataIndex15">
                <h5><u>Extra Auction Item</u>: An item such as a raffle, cash donation or dessert dash, that all bidders have an opportunity to give towards.</h5>
            </td>
        </tr>
        <tr>
            <td>
                <h3 class="formItem"> Donors </h3>
            </td>
            <td>
                <h4 id="ListButton"><a href="@Url.Action("Create", "Donor")"><b>Add</b></a></h4>
                <h4 id="ListButton"><a href="@Url.Action("Index", "Donor")"><b>Edit </b></a></h4>
            </td>
            <td class="TableDataIndex15">
                <h5><u>Donor</u>: Person, family or business that has donated items or services to the Auction.</h5>
            </td>
        </tr>
        <tr>
            <td>
                <h3 class="formItem"> Load Winning Bids </h3>
            </td>
            <td>
                <h4 id="ListButton"><a href="@Url.Action("AddWinningBidsSilent", "Forms")"><b>Silent Auction </b></a></h4>
                <h4 id="ListButton"><a href="@Url.Action("AddWinningBidsLive", "Forms")"><b>Live Auction </b></a></h4>
                <h4 id="ListButton"><a href="@Url.Action("AddMultiItemsList", "Forms")"><b>Extra Auction Items </b></a></h4>
            </td>
            <td class="TableDataIndex15">
                <h5> Enter the winning bid amounts after a particular auction has closed.</h5>
            </td>
        </tr>
        <tr>
            <td>
                <h3 class="formItem"> Auction Info </h3>
            </td>
            <td>
                <h4 id="ListButton"><a href="@Url.Action("Edit", "AuctionDetail", new { id = 1 })"><b>Edit Auction Details </b></a></h4>
                <h4 id="ListButton"><a href="@Url.Action("Edit", "Contact", new { id = 1 })"><b>Edit Contact Info </b></a></h4>
                <h4 id="ListButton"><a href="@Url.Action("Edit", "Tickets", new { id = 1 })"><b>Edit Ticket Sales</b></a></h4>
            </td>
            <td class="TableDataIndex15">
                <h5>Update the auction details shown on the Auction Home page.<br /> <br /><br /></h5>

                <h5>Update the Contact information shown at the bottom of certian pages. <br /><br /></h5>

                <h5>Update information pertaining to ticket sales, for use in Auction Reports.</h5>
            </td>
        </tr>
        <tr>
        <tr>
            <td>
                <h3 class="formItem">Help </h3>
            </td>
            <td>
                <h4 id="ListButton"><a href="@Url.Action("Index", "Help")"><b>Help</b></a></h4>
            </td>
            <td class="TableDataIndex15">
                <h5>Get help on a particular area of the auction website.</h5>
            </td>
        </tr>
        <tr></tr>
    </table>

</div>
 

