@{
    ViewBag.Title = "Index";
}

<body id="BackgroundGrad1">

    <table id="IndexTable">
        <tr>
            <td colspan="2">
                <h1 id="title">Auction Forms</h1>
                <br/>
            </td>
        </tr>
        <tr>
            <td>
                <h2> Donor</h2>
            </td>
            <td>
                <h3 id="ListButton"><a href="@Url.Action("Create", "Donor")"><b>Add</b></a></h3>
                <h3 id="ListButton"><a href="@Url.Action("Index", "Donor")"><b>Edit </b></a></h3>
            </td>
        </tr>
        <tr>
            <td>
                <h2> Bidder</h2>
            </td>
            <td>
                <h3 id="ListButton"><a href="@Url.Action("Create", "Bidder")"><b>Add </b></a></h3>
                <h3 id="ListButton"><a href="@Url.Action("index", "Bidder")"><b>Edit </b></a></h3>
            </td>
        </tr>
        <tr>
            <td>
                <h2> Auction Item</h2>
            </td>
            <td>
                <h3 id="ListButton"><a href="@Url.Action("Create", "Item")"><b>Add</b></a></h3>
                <h3 id="ListButton"><a href="@Url.Action("Index", "Item")"><b>Edit </b></a></h3>
            </td>
        </tr>
        <tr>
            <td>
                <h2> Multiple Bidder Item</h2>
            </td>
            <td>
                <h3 id="ListButton"><a href="@Url.Action("Create", "MultipleBidderItem")"><b>Add</b></a></h3>
                <h3 id="ListButton"><a href="@Url.Action("Index", "MultipleBidderItem")"><b>Edit </b></a></h3>
            </td>
        </tr>
        <tr>
            <td>
                <h2> Auction Info </h2>
            </td>
            <td>
                <h3 id="ListButton"><a href="@Url.Action("Edit", "AuctionDetail", new { id = 1 })"><b>Edit Auction Details </b></a></h3>
                <h3 id="ListButton"><a href="@Url.Action("Edit", "Contact", new { id = 1 })"><b>Edit Contact Information </b></a></h3>
            </td>
        </tr> 

    </table>


</body>


