
@model IEnumerable<Auction.Models.Bidder>

@{
    ViewBag.Title = "All Bidders";
}
<body id="BackgroundGrad1"  class="full">
    <h2 class="CrudTitle"> All Bidders</h2>

    <table class="table">
        <tr>
            <th class="TableDataIndex4">
                @Html.DisplayNameFor(model => model.BidderName)
            </th>
            <th class="TableDataIndex4">
                @Html.DisplayNameFor(model => model.BidderNumber)
            </th>
            <th class="TableDataIndex4">
                @Html.DisplayNameFor(model => model.BidderContact1)
            </th>
            <th class="TableDataIndex4">
                @Html.DisplayNameFor(model => model.BidderContact2)
            </th>
            <th class="TableDataIndex4">
                @Html.DisplayNameFor(model => model.BidderContact3)
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BidderName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BidderNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BidderContact1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BidderContact2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BidderContact3)
                </td>
            </tr>
        }

    </table>
    
    <table id="IndexTable" class="footer-nav" style="padding: 5px;">
        <tr>
            <td>
                <input type="button" value="Reports Menu" onclick="location.href = '@Url.Action("Index", "Reports")'; return false;" class="btn btn-default" />
            </td>
            <td>
                <input type="button" value="Print" onclick="javascript: window.print(); return false;" class="btn btn-default" />
            </td>
            <td>
                <input type="button" value="Save" onclick="location.href = 'http://selectpdf.com/save-as-pdf'; return false;" class="btn btn-default" />
            </td>
        </tr>
    </table>
</body>
