@model IEnumerable<Auction.Models.Donor>

@{
    ViewBag.Title = "All Donors";
}
<body id="BackgroundGrad1"  class="full">
    <h2 class="CrudTitle"> All Donors</h2>

    <table class="table">
       
        @foreach (var item in Model)
        {
            <tr class="TopLine">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td >
                    <div>@Html.DisplayFor(modelItem => item.Address),@Html.DisplayFor(modelItem => item.City), @Html.DisplayFor(modelItem => item.State)  @Html.DisplayFor(modelItem => item.Zip)    </div>
                </td>
               
            </tr>
            <tr >
                <td colspan="4" class="TableDataIndex12">
                    <h5>@Html.DisplayFor(modelItem => item.Items) . . . . . . Value: $<b>@Html.DisplayFor(modelItem => item.Value)</b></h5>
                </td>
            </tr>
        }

    </table>
    <table id="IndexTable" class="footer-nav" style="padding: 5px;">
        <tr>
            <td>
                <input type="button" value="Reports Menu" onclick="location.href = '@Url.Action("Index", "Reports")'; return false;" class="btn btn-default" />
            </td>
            <td>
                <input type="button" value="Print" onclick="javascript: window.print(); return false;" class="btn btn-default" />
            </td>
            @*<td>
                <input type="button" value="Save" onclick="location.href = 'http://selectpdf.com/save-as-pdf'; return false;" class="btn btn-default" />
            </td>*@
        </tr>
    </table>
</body>
