
@model Auction.ViewModels.AuctionTotalsVM
@{
    ViewBag.Title = "AuctionTotals";
}


<body id="BackgroundGrad1"  class="full">
    <table id="IndexTable">
        <tr>
            <td id="LogoCell">
                <img src="~/Images/Logos Academy Logo4.png" alt="Opps! Logo here" width="250" >            @*displays picture*@
            </td>

            <td class="TableDataIndex2" colspan="2">
                <h2 class="CrudTitle">Auction Totals</h2>
                <h4 id="Theme">@Model.Theme</h4> 
                <h4 id="Theme">@Model.Date</h4>
            </td>
        </tr>
        <tr>
            <td  class="TableDataIndex4">
                <h3>@Model.BidderCount   Registered Bidders</h3>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr class="TopLine2">
            <td class="TableDataIndex9 " colspan="2">
                <h3>@Model.EarlyTicketCount Discount Tickets: </h3>
            </td>
            <td class="TableDataIndex9">
                <h3>$ @Model.EarlyTicketsTotal</h3>
            </td>
        </tr>
        <tr class="TopLine1">
            <td class="TableDataIndex9" colspan="2">
                <h3>@Model.DoorTicketCount Regular Tickets: </h3>
            </td>
            <td class="TableDataIndex9">
                <h3>$ @Model.DoorTicketsTotal</h3>
            </td>
        </tr>
        <tr class="TopLine1">
            <td class="TableDataIndex9" colspan="2">
                <h3>@Model.LiveCount Live Auction Items: </h3>
            </td>
            <td class="TableDataIndex9">
                <h3>$ @Model.LiveTotal</h3>
            </td>
        </tr>
        <tr class="TopLine1">
            <td class="TableDataIndex9" colspan="2">
                <h3>@Model.SilentCount Silent Auction Items: </h3>
            </td>
            <td class="TableDataIndex9">
                <h3>$ @Model.SilentTotal</h3>
            </td>
        </tr>

        @foreach (var i in Model.MultiTotals)
        {
            <tr class="TopLine1">
                <td class="TableDataIndex9" colspan="2">
                    <h3>@i.Title : </h3>
                </td>
                <td class="TableDataIndex9">
                    <h3>$ @i.Total</h3>
                </td>
            </tr>
        }
        <tr class="TopLine2">
            <td class="TableDataIndex9" colspan="2">
                <h3><b>Grand Total:</b></h3>
            </td>
            <td class="TableDataIndex9">
                <h3><b> $ @Model.AuctionTotal</b></h3>
            </td>
        </tr>
    </table>
    <table id="IndexTable" class="footer-nav" style="padding: 5px;">
        <tr>
            <td>
                <input type="button" value="Reports Menu" onclick="location.href = '@Url.Action("Index", "Reports")'; return false;" class="btn btn-default" />
            </td>
            <td>
                <input type="button" value="Print" onclick="javascript: window.print(); return false;" class="btn btn-default" />
            </td>
            <td>
                <input type="button" value="Save" onclick="location.href = 'http://selectpdf.com/save-as-pdf'; return false;" class="btn btn-default" />
            </td>
        </tr>
    </table>
</body>
