@{
    ViewBag.Title = "ReportsIndex";
}

<div id="BackgroundGrad1"  class="full">

    <table id="IndexTable">
        <tr>
            <td colspan="2">
                <h1 class="CrudTitle">Auction Reports</h1>
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <h3 class="formItem"> Bidders</h3>
            </td>
            <td>
                <h4 id="ListButton"><a href="@Url.Action("AllBidders", "Reports")"><b>All Bidders </b></a></h4>
                <h4 id="ListButton"><a href="@Url.Action("IndividualBidderSelectList", "Reports")"><b>Individual Bidder </b></a></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3 class="formItem"> Auction Items</h3>
            </td>
            <td>
                <h4 id="ListButton"><a href="@Url.Action("AllSilentItems", "Reports")"><b>Silent Items</b></a></h4>
                <h4 id="ListButton"><a href="@Url.Action("AllLiveItems", "Reports")"><b>Live Items</b></a></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3 class="formItem"> Donors</h3>
            </td>
            <td>
                <h4 id="ListButton"><a href="@Url.Action("AllDonors", "Reports")"><b>All Donors</b></a></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3 class="formItem">Auction Data </h3>
            </td>
            <td>
                <h4 id="ListButton"><a href="@Url.Action("AuctionTotals", "Reports", new { id = 1 })"><b> Auction Totals  </b></a></h4>
            </td>
        </tr>
        <tr></tr>
    </table>


</div>


