@model Auction.ViewModels.IndividualBidderVM

@{
    ViewBag.Title = "Individual Bidder Report";
    bool firstLine = true;
}
<body id="BackgroundGrad1"  class="full">
    <table id="IndexTable">
        <tr>
            <td id="LogoCell">
                <img src="~/Images/Logos Academy Logo4.png" alt="Opps! Logo here" width="250">            @*displays picture*@
            </td>

            <td class="TableDataIndex2">
                <h1 class="BidderTitle">Auction Bid Report</h1>
            </td>
        </tr>
        <tr>
            <td class="TableDataIndex2">
                <h2>@Html.DisplayFor(model => model.BidderName) </h2>
            </td>
            <td>
                <h4> Bidder Number: <b id="Bigger">@Html.DisplayFor(model => model.BidderNumber)</b></h4>
            </td>
        </tr>
    </table>
    <table id="IndexTable2">
        <tr>
            <td class="TableDataIndex14">
                @Html.DisplayFor(model => model.BidderContact1)
            </td>
            <td>
                <h4>--</h4>
            </td>
            <td class="TableDataIndex14">
                @Html.DisplayFor(model => model.BidderContact2)
            </td>
            <td>
                <h4>--</h4>
            </td>
            <td class="TableDataIndex14">
                @Html.DisplayFor(model => model.BidderContact3)
            </td>
        </tr>
    </table>


    <table class="TableIndex4">
        @if (Model.SilentItems.Count == 0)
        {
            <tr class="BottomLine">
                <td class="TableDataIndex9">
                    <h4><b> Silent Auction Items:</b></h4>
                </td>
                <td class="TableDataIndex13">
                    <h5>No items won</h5>
                </td>
                <td></td>
            </tr>
        }
        else
        {
            foreach (var si in Model.SilentItems)
            {
                if (firstLine)
                {
                    firstLine = false;
                    <tr>
                        <td class="TableDataIndex9" width="40%">
                            <h4><b> Silent Auction Items:</b></h4>
                        </td>
                        <td class="TableDataIndex9" width="50%">
                            <h5>@si.Title</h5>
                        </td>
                        <td class="TableDataIndex9">
                            <h5>@si.BidAmount</h5>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td class="TableDataIndex9" colspan="2" width="40%">
                            <h5>@si.Title</h5>
                        </td>
                        <td class="TableDataIndex9">
                            <h5>@si.BidAmount</h5>
                        </td>
                    </tr>
                }
            }
            <tr class="BottomLine">
                <td class="TableDataIndex12" colspan="2" width="40%">
                    <h5><b>Silent Auction Subtotal: </b></h5>
                </td>
                <td class="TableDataIndex10">
                    <h5><b>@Model.SilentTotal</b></h5>
                </td>
            </tr>
            firstLine = true;
        }
        <tr>
            <td colspan="3">
                <h2></h2>
            </td>
        </tr>


        @if (Model.LiveItems.Count == 0)
        {
            <tr class="BottomLine">
                <td class="TableDataIndex9">
                    <h4><b> Live Auction Items:</b> </h4>
                </td>
                <td class="TableDataIndex13">
                    <h5>No items won</h5>
                </td>
                <td></td>
            </tr>
        }
        else
        {
            foreach (var li in Model.LiveItems)
            {
                if (firstLine)
                {
                    firstLine = false;
                    <tr>
                        <td class="TableDataIndex9" width="30%">
                            <h4><b> Live Auction Items:</b></h4>
                        </td>
                        <td class="TableDataIndex9" width="30%">
                            <h5>@li.Title</h5>
                        </td>
                        <td class="TableDataIndex9">
                            <h5>@li.BidAmount</h5>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td class="TableDataIndex9" colspan="2" width="40%">
                            <h5>@li.Title</h5>
                        </td>
                        <td class="TableDataIndex9">
                            <h5>@li.BidAmount</h5>
                        </td>
                    </tr>
                }
            }
            <tr class="BottomLine">
                <td class="TableDataIndex12" colspan="2" width="40%">
                    <h5><b>Live Auction Subtotal: </b></h5>
                </td>
                <td class="TableDataIndex10">
                    <h5><b>@Model.LiveTotal</b></h5>
                </td>
            </tr>
            firstLine = true;
        }
        <tr>
            <td colspan="3">
                <h2></h2>
            </td>
        </tr>





        @foreach (var mi in Model.MultiItems)
        {
            if (firstLine)
            {
                firstLine = false;
                <tr>
                    <td class="TableDataIndex9" width="30%">
                        <h4><b> Extra Auction Items:</b></h4>
                    </td>
                    <td class="TableDataIndex9" width="30%">
                        <h5>@mi.Title</h5>
                    </td>
                    <td class="TableDataIndex9">
                        <h5>@mi.BidAmount</h5>
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td class="TableDataIndex9" colspan="2" width="40%">
                        <h5>@mi.Title</h5>
                    </td>
                    <td class="TableDataIndex9">
                        <h5>@mi.BidAmount</h5>
                    </td>
                </tr>
            }
        }
        <tr class ="BottomLine">
            <td></td>
            <td class="TableDataIndex12" width="40%">
                <h5><b>Extra Auction Subtotal: </b></h5>
            </td>
            <td class="TableDataIndex10">
                <h5><b>@Model.MultiTotal</b></h5>
            </td>
        </tr>

        <tr>
            <td colspan="3">
                <h2></h2>
            </td>
        </tr>

        <tr>
            <td class="TableDataIndex12" colspan="2" width="40%">
                <h4><b>Auction Total: </b></h4>
            </td>
            <td class="TableDataIndex9">
                <h4><b>@Model.ALLTotal</b></h4>
            </td>
        </tr>
    </table>
    <table id="IndexTable" class="footer-nav" style="padding: 5px;">
        <tr>
            <td>
                <input type="button" value="Select Another Bidder" onclick="location.href = '@Url.Action("IndividualBidderSelectList", "Reports")'; return false;" class="btn btn-default" />
            </td>
            <td>
                <input type="button" value="Reports Menu" onclick="location.href = '@Url.Action("Index", "Reports")'; return false;" class="btn btn-default" />
            </td>
            <td>
                <input type="button" value="Print" onclick="javascript: window.print(); return false;" class="btn btn-default" />
            </td>
            <td> 
                <input type="button" value="Save" onclick="location.href = '@string.Format("http://selectpdf.com/save-as-pdf/?pdf_name={0}_{1}_{2}",@Html.DisplayFor(model => model.BidderNumber), @Html.DisplayFor(model => model.BidderName), @DateTime.Now.Year)'; return false;" class="btn btn-default" />
            </td>
        </tr>
    </table>
    
  
       
</body>
