@model IEnumerable<Auction.Models.MultipleBidderItem>

@{
    ViewBag.Title = "Index";
}
<body id="BackgroundGrad1">
    <h2 class="CrudTitle">Multiple Bidder Items</h2>
    <input type="submit" value="Back to Forms List" onclick="location.href='@Url.Action("Index", "Forms")';return false;" class="btn btn-default" />
    <p id="ListButton6">
        @Html.ActionLink("Add a new  Multiple Bidder Item", "Create")
    </p>
    
       <table class="TableIndex2">
        
        @foreach (var item in Model)
        {
            <tr class="TableIndex3">
                <td class="TableDataIndex2">
                    <h4> @Html.DisplayFor(modelItem => item.Title)</h4>
                </td>
                <td>
                    <h5 id="ListButton3">
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                    </h5>
                    <h6 id="ListButton3">
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </h6>

                </td>
            </tr>
        }
           

    </table>
    

</body>