@model Auction.Models.Donor

@{
    ViewBag.Title = "Delete";
}

<body id="BackgroundGrad1"  class="full">

    <h2 class="CrudTitle">Delete Donor</h2>
    <p>
        <span class="btn btn-default"> @Html.ActionLink("Back to Forms List", "Index", "Forms")</span>
    </p>

    <h3>Are you sure you want to delete this?</h3>
    <div class="form-horizontal">

        <hr />

        <table id="IndexTable">
            <tr>
                <td>
                    <h4 class="formItem2"> Full Name </h4>
                </td>
                <td>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>

                </td>
            </tr>
            <tr>
                <td>
                    <h4 class="formItem2"> Email Address </h4>
                </td>
                <td>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h4 class="formItem2"> Phone Number </h4>
                </td>
                <td>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h4 class="formItem2"> Street Address </h4>
                </td>
                <td>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h4 class="formItem2"> City </h4>
                </td>
                <td>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h4 class="formItem2"> State </h4>
                </td>
                <td>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h4 class="formItem2"> Zip </h4>
                </td>
                <td>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Zip, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Zip, "", new { @class = "text-danger" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h4 class="formItem2"> Donated Items </h4>
                </td>
                <td>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Items, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Items, "", new { @class = "text-danger" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h4 class="formItem2"> Donation Value </h4>
                </td>
                <td>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
                    </div>
                </td>
            </tr>
            
            <tr>
                <td></td>
            </tr>
        </table>
    </div>

    <br/> <br /> <br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> 
                <input type="submit" value="Cancel" onclick="location.href='@Url.Action("Index", "Donor")';return false;" class="btn btn-default" />
                 @*@Html.ActionLink("Back to List", "Index")*@
            </div>
        }
    
</body>
