@model Auction.ViewModels.ItemDetailVM


<div id="BackgroundGrad2" class="full">

    <table id="IndexTable">
        <tr>
            <td id="LogoCell2" >
                <img src="~/Images/Logos Academy Logo4.png" alt="Opps! Logo here" width="350" height="146">
            </td>

            @*<td class="TableDataIndex3">
                <h1 id="title"><b>Annual Benefit Auction</b></h1>
            </td>*@
        </tr>
        <tr>
            <td >
                <h2 id="DetailTitle"><b> @Html.DisplayFor(model => model.Title) </b></h2>
            </td>
        </tr>
        <tr>
            <td colspan="2">
             @if (File.Exists(Server.MapPath("~/Images/Items/"
                                    + Html.DisplayFor(modelItem => Model.ImageURL))))
                    {
                        <img alt="" src="~/Images/Items/@Html.DisplayFor(modelItem   => Model.ImageURL)" alt=" opps!" width="500" id="DetailImage">

                    }
                    else
                    {
                        <img alt="" src="~/Images/Items/default.png" alt=" opps!" width="500" id="DetailImage">
                    }
                
    @*displays picture*@
            </td>
        </tr>
        <tr>
            <td colspan="2" id="DetailCell">
                <p id="DetailParagraph"> @Html.DisplayFor(model => model.Description) </p>
            </td>
        </tr>
        <tr>
            <td>
                <div id="ListButtonDiv" >
                    <h3 id="ListButton"><a href="@Url.Action("List", "Home")"><b>Back to the list of live auction items</b></a></h3>
                </div>
            </td>
        </tr>
    </table>
 
</div>
<footer class="AuctionFooter">
    <div>
        <h5> For more information, or to donate items, please contact:</h5>
        <h5>@Html.DisplayFor(model => model.Name)  @Html.DisplayFor(model => model.PhoneNumber)  or email:  @Html.DisplayFor(model => model.Email) </h5>
    </div>
</footer>