@model Auction.ViewModels.HomeVM
@{
    ViewBag.Title = "Home Page";
}
<body id="BackgroundGrad2" class="full">
    <table id="IndexTable">
        <tr>
            <td id="LogoCell">
                <a href="http://logoschristianacademy.org/" target="_blank"> <img src="~/Images/Logos Academy Logo4.png" alt="Opps! Logo here" width="350" height="146">  </a>          @*displays picture*@
            </td>

            <td class="TableDataIndex2">
                <h1 id="title"><b>Annual Benefit Auction</b></h1>
                <h2 id="Theme">@Html.DisplayFor(model => model.Theme)</h2>
            </td>
        </tr>
        <tr>
            <td class="TableDataIndex2" id="Location" colspan="2">
                <h4>@Html.DisplayFor(model => model.Date)</h4>
                <h4>@Html.DisplayFor(model => model.LocationName)</h4>
                <h4>@Html.DisplayFor(model => model.LocationAddress)</h4>
            </td>
        </tr>
        <tr>
            <td>
                <h2 id="ListButton"><a href="@Url.Action("List", "Home")"><b>View Live Auction Items</b></a></h2>
            </td>
            <td class="TableDataIndex2" id="Times">
                <h4>@Html.DisplayFor(model => model.Time1)</h4>
                <h4>@Html.DisplayFor(model => model.Time2)</h4>
                <h4>@Html.DisplayFor(model => model.Time3)</h4>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="TableDataIndex2">
                <h3 id="Tickets">Tickets: <b> @Html.DisplayFor(model => model.EarlyCost)</b> before @Html.DisplayFor(model => model.EarlyTicketDate) and<b> @Html.DisplayFor(model => model.DoorCost) </b>at the door. </h3>
            </td>
        </tr>
    </table>

    <footer class="AuctionFooter">
        <div>
            <h5> For more information, or to donate items, please contact:</h5>
            <h5>@Html.DisplayFor(model => model.Name)  @Html.DisplayFor(model => model.PhoneNumber)  or email:  @Html.DisplayFor(model => model.Email) </h5>
        </div>
    </footer>
</body>

