@model Auction.ViewModels.ListVM
@{
    ViewBag.Title = "Live Auction List";
}
<body id="BackgroundGrad2">

    <table id="IndexTable">
        <tr>
            <td id="LogoCell">
                <img src="~/Images/Logos Academy Logo4.png" alt="Opps! Logo here" width="350" height="146">
            </td>

            <td class="TableDataIndex2">
                <h1 id="title"><b>Annual Benefit Auction</b></h1>
                <h2 id="Theme">Live Auction Items</h2>
            </td>
        </tr>
        <tr>
            <td>
                <h4 id="Label1">Select an item to view details</h4>
            </td>
            <td>
                <h4 id="Date">Current as of @Html.DisplayFor(model => model.CurrentDate)</h4>
            </td>
        </tr>
        @foreach(var i in Model.ItemList)
        { 
        <tr>
            <td colspan="2">
                <h2 id="ListButton"><a href="@Url.Action("index", "Home")"><b>@i.Title</b></a></h2>               
            </td>
        </tr>
        }
    </table>
</body>
<footer class="AuctionFooter">
    <div>
        <h5> For more information, or to donate items, please contact:</h5>
        <h5>@Html.DisplayFor(model => model.Name)  @Html.DisplayFor(model => model.PhoneNumber)  or email:  @Html.DisplayFor(model => model.Email) </h5>
    </div>
</footer>
