@model Auction.Models.Item

@{
    ViewBag.Title = "Create";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<body id="BackgroundGrad1"  class="full">
    <h2 class="CrudTitle">Add a New Item</h2>


    @using (Html.BeginForm("Create", "Item", FormMethod.Post, new { enctype = "multipart/form-data", id = "form" }))
    {
        @Html.AntiForgeryToken()


        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group" id="center">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" id="TitleItem">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" id="center">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Description, 5, 40, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-------------Auction Type Dropdown---------------->
            <!---------------Do Not Delete---------------------->
            @{
                List<SelectListItem> listItems = new List<SelectListItem>();
                listItems.Add(new SelectListItem
                {
                    Text = "-- Select Auction Type --",
                    Value = "-- Select Auction Type --"
                });
                listItems.Add(new SelectListItem
                {
                    Text = "Live Auction",
                    Value = "1"
                });
                listItems.Add(new SelectListItem
                {
                    Text = "Silent Auction",
                    Value = "2",
                });
                listItems.Add(new SelectListItem
                {
                    Text = "Multi-Bidder Auction",
                    Value = "3"
                });
            }

            <style>
                select {
                    width: 280px;
                    height: 34px;
                    border-radius: 4px;
                }
            </style>

            <div class="form-group" id="center">
                @Html.LabelFor(model => model.AuctionType, htmlAttributes: new { @class = "control-label col-md-2", @data_val_number = "Supply an integer, dude!", @data_valmsg_replace = false })
                <div class="col-md-10">
                    <table>
                        <tr>
                            <th style="width:280px;">
                                @Html.DropDownListFor(model => model.AuctionType, listItems, new { htmlAttributes = new { @class = "form-control", @data_val_number = "Supply an integer, dude!", @data_valmsg_replace = false } })
                            </th>
                        </tr>
                    </table>
                    @Html.ValidationMessageFor(model => model.AuctionType, "", new { @class = "text-danger", @data_val_number = "Supply an integer, dude!", @data_valmsg_replace = false })
                </div>
            </div>
            <!-------------Auction Type Dropdown---------------->
            <!---------------Do Not Delete---------------------->

            <!--Removed these fields for now-->

            @*<div class="form-group" id="center">
                @Html.LabelFor(model => model.WinningBidder, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.WinningBidder, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.WinningBidder, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" id="center">
                @Html.LabelFor(model => model.BidAmount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BidAmount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BidAmount, "", new { @class = "text-danger" })
                </div>
            </div>*@
            <!--Image upload code. Donot Delete. Donot Modify-->
            <div class="form-group" id="center">
                @Html.LabelFor(model => model.ImageURL, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input class="tiny button" id="photo" type="file" name="photo" />
                    <input type="hidden" id="ImageName" name="image" value="" />
                    <!--Image upload code. Donot Delete. Donot Modify-->
                </div>
            </div>
            <div class="form-group" id="center">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add" class="btn btn-default" />
                    <input type="submit" value="Back to Forms List" onclick="location.href='@Url.Action("Index", "Forms")';return false;" class="btn btn-default" />
                </div>
            </div>
        </div>
                }

</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(document).ready(function () {
        $("form").submit(function () {
            var fname = $('#TitleItem').val();

            var ImageName = document.getElementById("ImageName");
            ImageName.value = fname + ".jpg";
        });
    });
</script>




