@model Auction.Models.Item

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <img src="@Url.Content("~/Images/Items/"+ Model.ImageURL)" width="700px" alt="No Image" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.AuctionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuctionType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WinningBidder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WinningBidder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BidAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BidAmount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
