@model Auction.Models.Item

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<p>
    <span class="btn btn-default"> @Html.ActionLink("Back to Forms List", "Index", "Forms")</span>
</p>

<div>
    <h4>Item</h4>
    <hr />
    <div id="imgUpload" style="float: right;width: 40%;">

        @if (File.Exists(Server.MapPath("~/Images/Items/"
                                    + Html.DisplayFor(modelItem => Model.ImageURL))))
        {
            <img alt="" src="~/Images/Items/@Html.DisplayFor(modelItem   => Model.ImageURL)" width="400px" />

        }
        else
        {
            <img alt="" src="~/Images/Items/default.png" width="400px" />
        }
    </div>
    <!--Image upload code. Donot Delete. Donot Modify-->
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.AuctionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuctionType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WinningBidder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WinningBidder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BidAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BidAmount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
