@model IEnumerable<Auction.Models.Item>

@{
    ViewBag.Title = "Index";
}
<body id="BackgroundGrad1"  class="full">
    <h2 class="CrudTitle">Auction Items</h2>
    <p>
        <span class="btn btn-default"> @Html.ActionLink("Back to Forms List", "Index", "Forms")</span>
    </p>

    <p id="ListButton2">
        @Html.ActionLink("Add a New Item", "Create")
    </p>
    <table class="table">
        <tr>
            <th class="TableDataIndex4">
                Item #
            </th>
            <th class="TableDataIndex4">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class="TableDataIndex4">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="TableDataIndex4">
                @Html.DisplayNameFor(model => model.ImageURL)
            </th>
            <th class="TableDataIndex4">
                @Html.DisplayNameFor(model => model.AuctionType)
            </th>
            <th class="TableDataIndex4">
                @Html.DisplayNameFor(model => model.WinningBidder)
            </th>
            <th class="TableDataIndex4">
                @Html.DisplayNameFor(model => model.BidAmount)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="TableDataIndex4">
                    <a name="@Html.DisplayFor(modelItem => item.ItemNumber)"></a>
                    <h4><b>@Html.DisplayFor(modelItem => item.ItemNumber)</b></h4>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <!--Show Image in list-->
                <td>
                    @* <img src="@Url.Content("~/Images/Items/"+ item.ImageURL)" width="100px" alt="No Image" />*@


                    @if (File.Exists(Server.MapPath("~/Images/Items/"
                                    + Html.DisplayFor(modelItem => item.ImageURL))))
                    {
                        <img alt="" src="~/Images/Items/@Html.DisplayFor(modelItem   => item.ImageURL)" width="100px" />

                    }
                    else
                    {
                        <img alt="" src="~/Images/Items/default.png" width="100px" />
                    }



                </td>
                <!--Show Image in list-->
                <td>
                    @if (item.AuctionType == 1)
                    {
                        <h5>Live</h5>
                    }
                    @if (item.AuctionType == 2)
                    {
                        <h5> Silent</h5>
                    }
                </td>
                <td>
                    @if (item.WinningBidder == -1)
                    {
                        <h5 id="BidNumberError"><b>  </b></h5>
                    }
                    else
                    {
                        <h5><b>@Html.DisplayFor(modelItem => item.WinningBidder)</b></h5>
                    }
                </td>
                <td>
                    <h5><b> @Html.DisplayFor(modelItem => item.BidAmount)</b></h5>
                </td>
                <td>
                    <p id="ListButton3">
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                    </p>
                    <p id="ListButton3">
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </p>
                </td>
            </tr>
        }

    </table>
</body>
