@model Auction.Models.AuctionDetail

@{
    ViewBag.Title = "Edit";
}

<body id="BackgroundGrad1">
    <h2 class="CrudTitle">Edit Auction Detail</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)
            <table id="IndexTable">
                <tr>
                    <td class="TableDataIndex7">
                        <h4>Theme</h4>
                    </td>
                    <td class="TableDataIndex8">
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Theme, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Theme, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="TableDataIndex7">
                        <h4>Date</h4>
                    </td>
                    <td class="TableDataIndex8">
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="TableDataIndex7">
                        <h4>Location Name</h4>
                    </td>
                    <td class="TableDataIndex8">
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.LocationName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LocationName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="TableDataIndex7">
                        <h4>Location Address</h4>
                    </td>
                    <td class="TableDataIndex8">
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.LocationAddress, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LocationAddress, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="TableDataIndex7">
                        <h4>Time 1</h4>
                    </td>
                    <td class="TableDataIndex8">
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Time1, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Time1, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="TableDataIndex7">
                        <h4>Time 2</h4>
                    </td>
                    <td class="TableDataIndex8">
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Time2, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Time2, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="TableDataIndex7">
                        <h4>Time 3</h4>
                    </td>
                    <td class="TableDataIndex8">
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Time3, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Time3, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="TableDataIndex7">
                        <h4>Door Cost </h4>
                    </td>
                    <td class="TableDataIndex8">
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.DoorCost, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DoorCost, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="TableDataIndex7">
                        <h4>Early Cost</h4>
                    </td>
                    <td class="TableDataIndex8">
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.EarlyCost, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.EarlyCost, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="TableDataIndex7">
                        <h4>Early Ticket Date</h4>
                    </td>
                    <td class="TableDataIndex8">
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.EarlyTicketDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.EarlyTicketDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="TableDataIndex1">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                            <span class="btn btn-default"> @Html.ActionLink("Back to Forms List", "Index", "Forms")</span>
                        </div>
                    </td>
                </tr>
            </table>


        </div>
    }



</body>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
