@model IEnumerable<Auction.Models.AuctionDetail>

@{
    ViewBag.Title = "Index";
}
<body id="BackgroundGrad1">
    <h2 class="CrudTitle">Auction Detail</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    @foreach (var item in Model)
    {
        <table class="table">
            <tr>
                <th class="TableDataIndex4">
                    @Html.DisplayNameFor(model => model.Theme)
                </th>
                <th class="TableDataIndex4">
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th class="TableDataIndex4">
                    @Html.DisplayNameFor(model => model.LocationName)
                </th>
                <th class="TableDataIndex4">
                    @Html.DisplayNameFor(model => model.LocationAddress)
                </th>
            </tr>
            <tr>
                <td class="TableIndex4">
                    @Html.DisplayFor(modelItem => item.Theme)
                </td>
                <td class="TableIndex4">
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td class="TableIndex4">
                    @Html.DisplayFor(modelItem => item.LocationName)
                </td>
                <td class="TableIndex4">
                    @Html.DisplayFor(modelItem => item.LocationAddress)
                </td>
            </tr>
            <tr>
                <td class="TableIndex4">
                    <br />
                </td>
            </tr>
            <tr>
                <th class="TableDataIndex4">
                    @Html.DisplayNameFor(model => model.Time1)
                </th>
                <th class="TableDataIndex4">
                    @Html.DisplayNameFor(model => model.Time2)
                </th>
                <th class="TableDataIndex4">
                    @Html.DisplayNameFor(model => model.Time3)
                </th>
                <th class="TableDataIndex4">
                    @Html.DisplayNameFor(model => model.DoorCost)
                </th>
            </tr>
            <tr>
                <td class="TableIndex4">
                    @Html.DisplayFor(modelItem => item.Time1)
                </td>
                <td class="TableIndex4">
                    @Html.DisplayFor(modelItem => item.Time2)
                </td>
                <td class="TableIndex4">
                    @Html.DisplayFor(modelItem => item.Time3)
                </td>
                <td class="TableIndex4">
                    @Html.DisplayFor(modelItem => item.DoorCost)
                </td>
            </tr>
            <tr>
                <td class="TableIndex4">
                    <br />
                </td>
            </tr>
            <tr>
                <th class="TableDataIndex4">
                    @Html.DisplayNameFor(model => model.EarlyCost)
                </th>
                <th class="TableDataIndex4">
                    @Html.DisplayNameFor(model => model.EarlyTicketDate)
                </th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td class="TableIndex4">
                    @Html.DisplayFor(modelItem => item.EarlyCost)
                </td>
                <td class="TableIndex4">
                    @Html.DisplayFor(modelItem => item.EarlyTicketDate)
                </td>
                <td class="TableIndex4"></td>
                <td class="TableIndex4"></td>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            
            <tr>
                <td colspan="4" class="TableIndex4">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <span class="btn btn-default"> @Html.ActionLink("Edit", "Edit", new { id = item.ID })</span>
                            <span class="btn btn-default"> @Html.ActionLink("Delete", "Delete", new { id = item.ID })</span>
                        </div>
                    </div>
                </td>
            </tr>
         </table>

    

    }
    
</body>